
@mixin buttons($sizePadding, $backgroundColor, $fontSize, $colorFont){
    padding: $sizePadding;
    background-color: $backgroundColor;
    font-size: $fontSize;
    color: $colorFont;
    border: none;

    // &:hover{
    //     background-color: $colorFont;
    //     color: $backgroundColor;
    //     cursor: pointer
    // }
}