@import 'fonts.scss';

//Variables SASS
$color-primary: #2a41e8;
$color-secundary: #FF5E14;
$font-primary: 'Rubik';
$color-font-secundary: #FFFFFF;
$font-size: 16px;
$color-font-primary: #4B4D4F;
$font-size-links: 14px;
$color-label: #9B9B9B;


